<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AS"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".leccion2de3"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".leccion2de2"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".practica_1de2"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".leccion2de1"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".leccion1de1"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".leccion1de3"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".leccion1dedos"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".resultados"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".practica_3de4"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_2de4"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_1de4"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_3de3"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_2de3"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_1de3"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_3de2"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_2de2"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_3de1"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_2de1"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".practica_1de1"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".leccion"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".video_leccion4"
            android:exported="false" />
        <activity
            android:name=".video_leccion3"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".video_leccion2"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".video_leccion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".iniciar_sesion"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".vista_previa_1de4"
            android:exported="false"
            android:theme="@style/Theme.AS"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".vista_previa_3de4"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".selccion4"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".vista_previa_3de3"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".vista_previa_2de3"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".vista_previa_1de3"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".vista_previa_3de2"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".vista_previa_2de2"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".vista_previa_1de2"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".vista_previa_2de1"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".vista_previa_3de1"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".vista_previa_1de1"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".seleccion3"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".seleccion2"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".seleccion"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".principal"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".informacion_3"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".informacio_2"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".informacion_1"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".crear_cuenta"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi"/>
        <activity
            android:name=".splash"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>